Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /

	<Files .*>
		Order Deny,Allow
		Deny From All
	</Files>

	# Allow asset folders through
	RewriteRule ^(application/modules/(.+)?/assets/(.+)) - [L]

	# Protect application and system files from being viewed
	RewriteRule ^(application/crons/.+|application/data_backup/.+|vendor/framework/codeigniter/.+|application/modules/.+|application/.+) - [F,L]


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
	
	# Prevents access to dot files (.git, .htaccess) - security.
	RewriteCond %{SCRIPT_FILENAME} -d
	RewriteCond %{SCRIPT_FILENAME} -f
	RewriteRule "(^|/)\." - [F]
	
</IfModule>
Options -Indexes
